<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project_DoVeSo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuanLyServlet</display-name>
    <servlet-name>QuanLyServlet</servlet-name>
    <servlet-class>controller.QuanLyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyServlet</servlet-name>
    <url-pattern>/QuanLyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatServlet</display-name>
    <servlet-name>CapNhatServlet</servlet-name>
    <servlet-class>controller.CapNhatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatServlet</servlet-name>
    <url-pattern>/CapNhatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.googlemail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>hoanghonhutech@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>name</param-name>
    <param-value>WebSite Dò Vé Số</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>rjmrnictbsoeffnj</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CapNhatUser</display-name>
    <servlet-name>CapNhatUser</servlet-name>
    <servlet-class>controller.CapNhatUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatUser</servlet-name>
    <url-pattern>/CapNhatUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>JDBCFilter</display-name>
    <filter-name>JDBCFilter</filter-name>
    <filter-class>filter.JDBCFilter</filter-class>
  </filter>
  <filter>
    <display-name>LogFilter</display-name>
    <filter-name>LogFilter</filter-name>
    <filter-class>filter.LogFilter</filter-class>
  </filter>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>JDBCFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoiPassServlet</display-name>
    <servlet-name>DoiPassServlet</servlet-name>
    <servlet-class>controller.DoiPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiPassServlet</servlet-name>
    <url-pattern>/DoiPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LichSuDoServlet</display-name>
    <servlet-name>LichSuDoServlet</servlet-name>
    <servlet-class>controller.LichSuDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LichSuDoServlet</servlet-name>
    <url-pattern>/LichSuDoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoVeSoServlet</display-name>
    <servlet-name>DoVeSoServlet</servlet-name>
    <servlet-class>controller.DoVeSoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoVeSoServlet</servlet-name>
    <url-pattern>/DoVeSoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoSoServlet</display-name>
    <servlet-name>HoSoServlet</servlet-name>
    <servlet-class>controller.HoSoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoSoServlet</servlet-name>
    <url-pattern>/HoSoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemTinhServlet</display-name>
    <servlet-name>ThemTinhServlet</servlet-name>
    <servlet-class>controller.ThemTinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemTinhServlet</servlet-name>
    <url-pattern>/ThemTinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuenPassServlet</display-name>
    <servlet-name>QuenPassServlet</servlet-name>
    <servlet-class>controller.QuenPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuenPassServlet</servlet-name>
    <url-pattern>/QuenPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccountServlet</display-name>
    <servlet-name>NewAccountServlet</servlet-name>
    <servlet-class>controller.NewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccountServlet</servlet-name>
    <url-pattern>/NewAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>